<!DOCTYPE html>
<html>
<head>
  <title>SEEWT! | See What! | A Pure Entertainment Website to Watch Video !</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SEEWT! See What! Pure entertainment website, Watch video, Movie, Drama, Live, Recommendation, Hot, Latest, IMDb, Douban" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<%= stylesheet_link_tag "bootstrap.css", "style.css", "http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900", "http://vjs.zencdn.net/5.11.9/video-js.css", "zerogrid.css", media: "all" %>

<%= javascript_include_tag "jquery-1.11.1.min.js", "responsiveslides.min.js" %>

<!-- <link href="bootstrap.css" rel='stylesheet' type='text/css' />
<link href="style.css.erb" rel="stylesheet" type="text/css" media="all" /> -->
<!-- start plugins -->
<!-- <script type="text/javascript" src="jquery-1.11.1.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="responsiveslides.min.js"></script>

<link href="http://vjs.zencdn.net/5.11.9/video-js.css" rel="stylesheet"> -->

</head>

<body>
