<!DOCTYPE html>
<html>
<head>
  <title>Temp Play !</title>
<body>

<video id="video_1" controls>
	<source src="https://r2---sn-vgpvoj5-tu1e.googlevideo.com/videoplayback?key=yt6&itag=22&mime=video%2Fmp4&upn=pAJf1WTga1A&signature=B9201DAD957699142F5D7118C9106B3C7AB11CBE.1FC46DAD664A215812A6B59B274590491FD17BD1&shardbypass=yes&ip=137.122.90.251&ratebypass=yes&hcs=yes&ei=-W8eWNOIH8TMugLcl4_IDA&source=youtube&ms=au&mv=m&mt=1478389641&dur=5906.065&requiressl=yes&id=o-AHrNScGXhqtU01g71BsyCSeo9zwBMxdkN4o8sk6xZ04T&pl=26&mn=sn-vgpvoj5-tu1e&mm=31&sparams=dur%2Cei%2Chcs%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Cshardbypass%2Csource%2Cupn%2Cexpire&expire=1478411353&ipbits=0&lmt=1478367250308332&initcwndbps=6487500" type='video/mp4'>
</video>

</body>

</html>